.index_page {
  font-family: Fira Code, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  max-height: 100%;
  //min-height: 500px;
  width: 500px;
  padding: 60px 40px 30px;
  overflow: auto;
  //border: 1px solid black;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pre_content {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.pre_item {
  //font-size: 
  margin: 0 16px 0 0;
  font-size: 18px;
  color: #9CA3AF;
  cursor: pointer;

  &:hover {
    color: #D1D5DB;
  }
}

.font_size {
  font-size: 1.525rem;
  line-height: 1.85rem;
  font-weight: 700;
}

.pre_item_hover {
  &:hover {
    color: #D1D5DB;
  }
}
